/* PHASE 2: Notifications */

.badge { 
  color: #ffff;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 5px 0 5px;
  margin-left: 3px;
  background: black;
}

.header-list > li:nth-child(1):hover span {
  background: red;
}