/* PHASE 2: Notifications */

.badge { 
  color: #ffff;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 5px 0 5px;
  margin-left: 3px;
  background: black;
}

.header-list > li:nth-child(1):hover span {
  background: red;
}

.header-list > li { 
  position: relative;
}

.header-notifications { 
  position: absolute;
  display: none;
}

.header-notifications > li { 
  border: 1px solid gray;
}

.header-list:hover .header-notifications { 
  display: block;
  color: black;
  background: white;
}

