/* PHASE 2: Notifications */

.badge {
  display: inline;
  font-size: 14px;
  padding: 1px 6px;
  background: #000;
  border-radius: 50%;
}

li:hover .badge {
  background: #f00;
}

.header {
  position: relative;
  z-index: 1;
}

.header-list > li {
  position: relative;
}

.header-notifications {
  display: none;
  position: absolute;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

li:hover .header-notifications {
  display: block;
}

.header-notifications > li {
  border-top: 1px solid #ccc;
  color: #000;
}

.header-notifications > li:hover {
  background: #eee;
}