/* PHASE 11: Icons */

[class*="icon-"] {
  display: inline-block;
  background-image: url(".././images/sprite.png");
  background-size: 25px 250px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  height: 0;
  width: 25px;
  padding-top: 25px;
}

[class*="icon-small-"] {
  width: 20px;
  padding-top: 20px;
}

.icon-comment {
  background-position: 0 0;
}

.icon-comment:hover {
  background-position: 0 -25px;
}

.icon-reblog {
  background-position: 0 -100px;
}

.icon-reblog:hover {
  background-position: 0 -125px;
}

.icon-favorite {
  background-position: 0 -50px;
}

.icon-favorite:hover {
  background-position: 0 -75px;
}

.icon-small-wall {
  background-position: 0 -225px;
}

.icon-small-about {
  background-position: 0 -175px;
}

.icon-small-friends {
  background-position: 0 -150px;
}

.icon-small-photos {
  background-position: 0 -200px;
}