/* PHASE 12: Modal */

.modal-screen { 
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  z-index: 2;
  background: rgba(0, 0, 0, 0.8); 
}

.modal-form { 
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  width: 360px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
}

.modal-close:hover {
  color: #f00;
}

.modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.modal-form > p {
  margin: 0 0 20px 0;
}