/* PHASE 4: Footer */

.main-footer { 
  background: #fff;
  width: 900px; 
  margin: 0 auto;
  border: 1px solid #ccc; 
  border-top: 0;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-between;
  color: #AAAAAA;
  font: sans-serif;
  font-size: 14px;
}

.main-footer > p { 
  padding: 20px;
}

.footer-links { 
  padding: 20px;
  display: flex;
} 

.footer-links li { 
  padding-left: 20px;
}

.footer-links li a:hover { 
  color: black;
}