<h2>New Tweet!</h2>
<form action="/tweets" method="POST" class="tweet-compose" data-tweets-ul="#feed">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea name="tweet[content]">
    </textarea>
  </label>
  <ul class="mentioned-users"></ul>
  <br>
  <strong class="chars-left"></strong>
  <br>
  <button type="button" class="add-mention">Add Mention</button>
  <br>

  <input type="Submit" value="Post Tweet!">
</form>
