/* PHASE 9: Forms */

textarea { 
  border: 1px 	#E0E0E0 solid; 
  display: block;
  background-color: white;
  height: 125px;
  border-radius: 5px;
  margin: 5px 0 5px 15px;
}

textarea:focus { 
  border: 1px green solid;
}

.form-fieldset { 
  border: 1px #E0E0E0 solid;
  width: 70%; 
  background: #F0F0F0;
  margin-left: 25px;
  border-radius: 5px;
}

input { 
  display: block;
  border: 1px solid #E0E0E0;
  background-color: white;
  margin: 5px 0 5px 15px;
  width: 59%;
  border-radius: 5px;
}

.main-form { 
  display: flex;
  flex-direction: row;
}

input:focus { 
  border: 1px green solid;
}

label { 
  font-weight: 700;
  padding-left: 15px;
}

.form-button { 
  padding-left: 15px;
  margin-bottom: 5px; 
}

.form-button button {
  background-color: 	#0c0;
  border-radius: 5px;
  padding: 10px; 
}

.form-button button span { 
  color: white;
  font-weight: 700;
}

.form-button button:hover { 
  background-color: forestgreen;
}

.form-button span a:active { 
  color: red;
}



