/* PHASE 3: Layout */

.content { 
  width: 900px;
  display: flex;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0px;
}

.content-sidebar { 
  min-height: 200px; 
  width: 200px;
  padding: 20px;
  padding-right: 19px;
  border-right: 1px solid #ccc;
}

.content-main { 
  min-height: 200px; 
  width: 620px;
  padding: 20px;
}