<section>
  <div class='col-1'>
    Launching the New React/Redux Curriculum
By APP ACADEMY INSTRUCTIONAL TEAM

It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.

The whole state of your app is stored in an object tree inside a single store.
The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.

1738 Comments
  </div>

  <div class='col-2'> 
  Warning: This video will make you want to change your career

Where Are They Now?
By APP ACADEMY ALUMNI
First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.

Cat Academy
By APP ACADEMY DIRECTOR OF PRODUCTS
App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.
  </div>
</section>