<div class='masthead'> 
  <nav class="language-nav">
    <ul>
      <a href="#">CSS</a>
      <a href="#">HTML</a>
      <a href="#">Javascript</a>
      <a href="#">Ruby</a>
    </ul>
  </nav>

  <img class="logo" src="/assets/AA_Times_Logo.png">

  <ul class="masthead-links">
    <li><time>Tuesday, October 18, 2016</time></li>
    <li><i class="far fa-newspaper"></i><a href="#">Today's Paper</a></li>
    <li><i class="fas fa-video"></i><a href="#">Video</a></li>
    <li><button>77°F</button></li>
    <li><button>AAO <strong>+100%</strong></button></li>
  </ul>
</div>
