<nav class="sections-nav">
	<ul>
		<li>World</li>
		<li>San Francisco</li>
		<li>New York</li>
		<li>Bootcamp Prep</li>
		<li>Jumpstart</li>
		<li>Online</li>
		<li>Marketing</li>
		<li>Sales</li>
		<li>TalentMatch</li>
		<li>Alumni</li>
		<li><a href="#">All</a></li>
	</ul>
</nav>

<%= render "shared/search_modal" %>