<nav id="sections-sidebar" class="sections-sidebar">
	<ul>
		<li>World</li>
		<li class="dropdown">San Francisco
			<ul>
				<li class="subheader">San Francisco</li>
				<li>Students</li>
				<li>Teaching Assistants</li>
				<li>Instructors</li>
				<li>Career Advisors</li>
				<li>Cats</li>
			</ul>			
		</li>
		<li>New York</li>
		<li class="dropdown">Bootcamp Prep
			<ul>
				<li class="subheader">Bootcamp Prep</li>
				<li>Students</li>
				<li>Instructors</li>
				<li>Cats</li>
			</ul>
		</li>
		<li>Jumpstart</li>
		<li class="dropdown">Online
			<ul>
				<li class="subheader">Online</li>
				<li>Immersive</li>
				<li>Bootcamp Prep</li>
				<li>Cats</li>
			</ul>
		</li>
		<li>Marketing</li>
		<li class="dropdown">Sales
			<ul>
				<li class="subheader">Sales</li>
				<li>Associates</li>
				<li>Analytics</li>
				<li>Cats</li>
			</ul>
		</li>
		<li>TalentMatch</li>
		<li class="dropdown">Alumni
			<ul>
				<li class="subheader">Alumni</li>
				<li>Students</li>
				<li>Companies</li>
				<li>Opinions</li>
				<li>Cats</li>
			</ul>
		</li>
	</ul>
</nav>