<div class='sections-nav'>
  <nav class="links-nav"> 
    <a href="#">World</a>
    <a href="#">San Francisco</a>
    <a href="#">New York</a></li>
    <a href="#">Bootcamp Prep</a>
    <a href="#">Jumpstart</a>
    <a href="#">Online</a>
    <a href="#">Marketing</a>
    <a href="#">Sales</a>
    <a href="#">TalentMatch</a>
    <a href="#">Alumni</a>
    <a href="#">All</a>
  </nav>
</div>
