<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>99 Cats Registeration</title>
</head>
<body>
  <h1>Welcome to 99 Cats!</h1> 

  <p> Hi <%= @user.username %>! Hope you enjoy your visit :) </p>
</body>
</html>