html, body, header, div, img, nav, ul, a { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  outline: 0; 
  font: inherit; 
  color: inherit; 
  text-align: inherit; 
  text-decoration: inherit; 
  vertical-align: inherit; 
  box-sizing: inherit; 
  background: transparent; 
}
header { 
  display: flex;
}

nav { 
  margin: 0 auto;
}

.logo img { 
  width: 20px;
  height: 20px;
}

ul { 
  list-style: none;
  display: flex;
}

a { 
  text-decoration: none;
}

.right-nav, .left-nav { 
  display: flex; 
  padding-right: 100px;
}

li { 
  padding-right: 10px;
  letter-spacing: 2px;
}
