/* PHASE 6: Sidebar */

.profile-picture > a { 
  display: block;
  margin-top: -100px;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.profile-info > h2 { 
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-info > p { 
  margin-bottom: 20px;
}

.profile-nav > ul li { 
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  padding: 5px 0px 5px 0px;
}

.profile-nav > ul li:hover { 
  background-color: lightgray;
  cursor: pointer;
}

.profile-nav > ul li:first-child {
  border-top: 1px solid lightgray;
}

.profile-nav > ul li:last-child {
  border-bottom: 1px solid lightgray;
}

