/* PHASE 10: Posts */

.posts {
  margin: 20px 0 0 0;
}

.post {
  display: flex;
  border-top: 1px solid #ccc;
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
}

.post-body {
  margin: 0 0 0 20px;
  width: 540px;
}

.post-body > h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.post-body > p {
  margin: 0 0 20px 0;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.post-footer-info {
  display: flex;
  color: #999;
  font-size: 14px;
}

.post-footer-info > li:after {
  content: "·";
  padding: 0 5px;
}

.post-footer-info > li:last-child:after {
  content: none;
}

.post-footer-tools {
  display: flex;
}

.post-footer-tools > li {
  display: flex;
  margin: 0 0 0 10px;
}
