/* PHASE 11: Icons */
[class*="icon-"] { 
  background-image: url('/images/sprite.png'); 
  background-size: 25px 250px;
  display: inline-block;
  width: 25px; 
  overflow: hidden;
  padding-top: 25px;
  height: 0px;
}

.icon-comment { 
  background-position: 0px 0px; 
}

.icon-favorite { 
  background-position: 0px -50px; 
}

.icon-reblog { 
  background-position: 0px -100px;
}

.icon-comment:hover { 
  background-position: 0px -25px; 
}

.icon-favorite:hover { 
  background-position: 0px -75px;
}

.icon-reblog:hover { 
  background-position: 0px -125px;
}