html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

input[type="radio"], select, input[type="submit"] {
  cursor: pointer;
  outline: none;
}

h2 + .user_review {
  border-top: 1px solid black;
}
