/* PUT FLUID GRID CODE HERE */

.col {
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

.col-1-3 { 
  width: 33.33%
}

.col-2-3 { 
  width: 66.66%
}

.cf:after { 
  content: "";
  clear: both; 
  display: block;
}