// Use the gear_dropdown.png screenshot as a style guide

.gear-dropdown { 
  border: 1px solid $light-gray;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
  position: absolute;
  top: 52px; 
  right: 140px;
  z-index: 2;
  color: $dark-gray;
  font-family: $sans-serif;
  font-size: 15px;
  width: 200px;
  text-decoration: none;
  padding-top: 10px;
}

.gear-dropdown span:only-of-type { 
  color: inherit; 
  font-weight: bolder;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
}

.editions > li:hover { 
  background: $light-gray;
  border-radius: 2px;
  color: black;
}

.editions { 
  border-bottom: 1px solid $light-gray;
}

.help > li:hover { 
  text-decoration: underline; 
}

.help > li { 
  color: $blue;
}

.editions > li, 
.help > li { 
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
}

.editions > li { 
  text-transform: uppercase;
}



