.main-nav {
  display: flex; 
  justify-content: space-between;
  padding-top: 10px;
  flex-direction: row;
  border-bottom: 1px solid #D0D0D0;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px;
}

.right-nav > ul > li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.right-nav > ul > li:last-of-type {
  
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: #F0F0F0;
}

.left-nav span {
  padding-left: 10px;
}


.right-nav i {
  font-size: 15px;
}