.main-content {
  margin-top: 10px;
}

.main-content header {
  font-weight: bold;
}

.main-story {
  margin-top: 10px;
}

.main-story section {
  margin-bottom: 20px;
}

.byline {
  color: $gray;
  margin: 4px 1px;
  font-family: $serif;
  font-weight: 400;
  font-size: 11px;
}

.main-story ul {
  list-style: initial;
  padding-left: 15px;
}

.main-story ul li {
  margin: 10px 0;
  line-height: 1.5;
}

.comments {
  color: #326891;
  font-family: $sans-serif;
  font-size: 10px;
  vertical-align: bottom;
}

iframe {
  margin-bottom: 10px;
}

article {
  margin: 10px 0;
}

article hr {
  width: 50%;
  color: $gray;
}

.kicker {
  text-transform: uppercase;
  font-size: 10px;
}

.opinion {
  margin-top: 10px;
}

.opinions-list {
  list-style: initial;
  padding-left: 15px;
  font-weight: bold;
  font-size: 10px;
}

.opinions-list li {
  margin: 5px 0;
}

.opinion-sign-up {
  margin: 20px 0;
}