.sections-nav { 
  display: flex; 
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #C8C8C8;
  position: relative;
}

.links-nav { 
  display: flex;
}

.links-nav > a { 
  margin: 10px;
  font-family: $sans-serif;
}

.links-nav > a:last-child { 
  text-transform: uppercase;
}

.links-nav > a:not(:last-child):hover { 
  background: #D3D3D3;
}

.links-nav>a:last-child:hover {
  text-decoration: underline;
}

