.sections-sidebar.expand {
  display: flex;
  opacity: 1;
  width: 200px;
  transition: width 0.2s ease, opacity 0.5s ease;
  overflow: visible;
}

.sections-sidebar {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 12px;
  background: white;
  font-weight: bolder;
  text-transform: initial;
  width: 0px;
  z-index: 1;
  box-shadow: 4px 0 6px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.sections-sidebar ul {
  padding: 10px 20px 20px 20px;
  width: 100%;
  text-align: left;
}

.sections-sidebar ul li {
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}

/*
 MENU TRIANGLES
*/

.sections-sidebar>ul>li:nth-child(2n):after,
.sections-sidebar>ul>li:nth-child(2n):before {
  content: "";
  position: absolute;
  right: 0;
  top: 7px;
  border-left: 5px solid $light-gray;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  width: 0;
  height: 0;
}

.sections-sidebar>ul>li:nth-child(2n):before {
  right: 2px;
  border-left: 5px solid white;
  z-index: 1;
}

.sections-sidebar ul li:hover:not(.subheader) {
  background-color: $lightest-blue;
}

/*
 SUB MENU DROPDOWNS
*/

.sections-sidebar ul li.subheader {
  font-size: smaller;
  text-transform: uppercase;
  color: $gray;
  margin: 0 0 5px 0;
}

.sections-sidebar .dropdown {
  position: relative;
}

.sections-sidebar .dropdown ul {
  display: none;
  position: absolute;
  left: 165px;
  background: white;
  border: 1px solid $light-gray;
  border-radius: 3px;
  z-index: 1;
  box-shadow: -1px 4px 6px rgba(0, 0, 0, 0.09);
  top: -25px;
}

.sections-sidebar .dropdown:hover ul {
  display: block;
}

/*
 SUB MENU TRIANGLES
*/

.sections-sidebar .dropdown ul:before {
  display: block;
  content: '';
  border-right: 21px solid $light-gray;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  position: absolute;
  left: -22px;
  top: 15px;
}

.sections-sidebar .dropdown ul:after {
  display: block;
  content: '';
  border-right: 21px solid white;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  position: absolute;
  left: -20px;
  top: 15px;
}
