html { 
  background-color: gainsboro;
}

body { 
  font-family: Arial;
}

h1 { 
  font-size: 38px;
}

h2 { 
  font-size: 32px;
}

ol { 
  list-style: circle inside;
}

header > img { 
  width: 100px;
}

ul li a { 
  text-decoration: none;
  color: inherit;
}

.ingredients-list {
  list-style: square inside;
}

.user_review { 
  color: green;
  font-style: italic;
}
