body { 
  font-family: Arial
}

h1 { 
  font-size: 38px
}

h2 { 
  font-size: 32px
}

.ingredients-list { 
  list-style: square inside
}

ol { 
  list-style: circle inside
}

header > img { 
  width: 100px
}

