html,
body,
ul,
p,
h3,
button {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  border: none;
}

html, body {
  height: 100%;
}

body {
  background-color: #B2EBF2;
}

li {
  list-style: none;
}

#content {
  display: flex;
  justify-content: center;
}

.app {
  width: 40%;
  min-width: 400px;
  margin-bottom: 40px;
}

.flex-col, .todo-list, .todo-form, .step-form, .todo-form label, .step-form label, .step-list {
  display: flex;
  flex-direction: column;
}

.flex-row, .todo-list .todo-list-item .todo-header, .step-list .step-header, .step-list .step-header .step-buttons {
  display: flex;
  flex-direction: row;
}

h1 {
  margin-top: 40px;
  text-align: center;
  color: #0097A7;
}

h3 {
  margin-bottom: 5px;
}

.button, .done, .undone, .delete-button, .create-button {
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px;
}

.button:focus, .done:focus, .undone:focus, .delete-button:focus, .create-button:focus, a:focus {
  outline: none;
}

.button:hover, .done:hover, .undone:hover, .delete-button:hover, .create-button:hover {
  background-color: #0097A7;
}

.done {
  background-color: #757575;
}

.undone {
  background-color: #00BCD4;
}

.delete-button {
  background-color: #FF4081;
}
.delete-button:hover {
  background-color: #757575;
}

.create-button {
  width: 50%;
  margin: 10px auto;
  background-color: #00BCD4;
}

.input {
  padding: 5px;
}

.todo-list .todo-list-item {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #00BCD4;
  border-radius: 5px;
}
.todo-list .todo-list-item .todo-header {
  justify-content: space-between;
  align-items: center;
}
.todo-list .todo-list-item .todo-header a {
  font-weight: bold;
}
.todo-list .todo-list-item .todo-body {
  margin: 10px;
}

.todo-form label, .step-form label {
  margin: 10px 20px;
}
.todo-form input, .step-form input, .todo-form textarea, .step-form textarea {
  margin: 10px 10px;
  border: 1px solid #00BCD4;
  border-radius: 3px;
}

a {
  cursor: pointer;
}

.step-list {
  margin-left: 20px;
}
.step-list .step-header {
  margin: 20px 0;
  list-style: none;
}
.step-list .step-header .step-info {
  width: 70%;
}

.step-form {
  background-color: #B2EBF2;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}
