/* PHASE 0: Reset */

html, head, body, header,
nav, h1, a, ul, li, main,
section, p, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

header, nav, main, section,
footer, small {
  display: block;
}

ul {
  list-style: none;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}