/* PHASE 1: Header */

body {
  /* Write your css here... */
  font-family: sans-serif; 
  font-weight: 400; 
  font-size: 24px;
  background: #eee
}

.header {
  background: red;
  border-bottom: 1px gray solid;
  color: white
}

.header a {
  display: block; 
  padding: 5px;
}

.header-nav {
  width: 900px;
  margin: auto;
  border-right: 1px gray solid; 
  border-left: 1px gray solid;
  padding-left: 5px;
}