/* PHASE 2: Navigation */

.header-logo {
  float: left;
  border-right: 1px gray solid;
  font-weight: bold;
}

.header-logo:hover {
  background-color: #000
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  border-left: 1px gray solid;
  padding-left: 5px;
  padding-right: 5px;
}

.header-list > li:hover {
  background-color: #000
}