/* PHASE 3: Content */

.content {
  background: white;
  margin: 0 auto;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 900px;
  padding-left: 5px;
}

.content-sidebar {
  width: 280px;
  float: left;
  padding: 20px;
}

.content-main {
  width: 540px;
  float: left;
  padding: 20px;
}

.content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content p {
  font-size: 16px;
}