/* PHASE 4: Footer */

.footer {
  background: white;
  width: 900px; 
  margin: 0 auto;
  border-right: 1px solid gray; 
  border-left: 1px solid gray; 
  border-bottom: 1px solid gray;
  padding-left: 5px;
  color: #ccc; 
  font-size: 16px;
}

.footer-copy { 
  float: left;
  padding: 15px;
}

.footer-links {
  padding: 5px;
}

.footer-links > li {
  float: right; 
  padding: 10px;
}

.footer a {
  display: block;
}

.footer a:hover {
  color: black;
}
