html, body, ul, a, img, section, figure, div, header {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0; 
	font: inherit; 
	color: inherit; 
	text-align: inherit; 
	text-decoration: none; 
	vertical-align: inherit; 
	box-sizing: inherit; 
	background: transparent;
	list-style: none;
}

