#root {
  width: 250px;
  margin: 0 auto;
}

table {
  width: 250px;
}
.row {
  height: 20px;
}

h1 {
  text-align: center;
}

.tile,
.explored {
  height: 20px;
  width: 20px;
  background: lightgray;
  border-width: 2px;
  line-height: 20px;
  padding-left: 3px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.tile {
  border-style: outset;
}

.explored {
  border-style: inset;
}

.flagged,
.bombed {
  color: red;
}

.modal-screen {
  z-index: 998;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-content {
  z-index: 999;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  width: 200px;
  height: 120px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}
