<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<div class="infinite-tweets">
  <ul id="feed">
  </ul>
<a href="#" class="fetch-more">More Tweets</a>
</div>

<%= render 'tweets/form' %>
