/* PHASE 4: Footer */

.footer {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto 50px auto;
  background: #fff;
  color: #aaa;
  font-size: 14px;
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer-copy {
  display: block;
  padding: 20px;
}

.footer-links {
  display: flex;
  padding: 20px;
}

.footer-links > li {
  padding: 0 0 0 20px;
}

.footer a:hover {
  color: #000;
}
