/* PHASE 7: Online */

.profile-picture {
  overflow: hidden;
}

.online {
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  font-weight: 700;
  color: #fff;
  background: #0c0;
  padding: 5px 30px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  transform: rotate(-45deg) translateX(-25%);
  box-shadow: 0 1px 0 0 #070;
}
