<%= link_to "#{comment.content}", comment_url(comment.id) %>
(Posted by <%= comment.author.username %> on <%= comment.created_at %> )

<% if @comments_by_parent[comment.id] %> 
  <% @comments_by_parent[comment.id].each do |child_comment| %>
    <ul> 
        <li><%= render '/comments/comment', comment: child_comment %></li> 
    </ul>
  <% end %>
<% end %>
