/* PHASE 1: Header */

body { 
  font-weight: 400px;
  font-family: "Roboto"; 
  font-size: 16px;
  background: #eee
}

.header { 
  background-color: red;
  border-bottom: 1px solid #ccc;
  color: #fff
}

.header-nav { 
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-logo { 
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-weight: bold;
}

.header a { 
  display: block; 
  padding: 10px 20px;
}

.header-list { 
  display: flex;
  border-right: 1px solid #ccc;
}

.header-list > li { 
  border-left: 1px solid #ccc;
}

.header-list > li:hover, 
.header-logo:hover { 
  background: black;
}