/* PHASE 5: Cats */

.content-header { 
  background: url(../images/cats.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
}

.content-header > h1 { 
  position: absolute; 
  color: #fff;
  text-shadow: 1px 1px 2px rgb(148, 9, 9);
  top: 175px;
  left: 500px;
  font-size: 40px;
  line-height: 1;
}

.content-header > button { 
  position: absolute; 
  top: 175px;
  right: 300px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
}

.content-header > button:hover { 
  background-color: lightgray;
}