#first-div, #second-div {
  padding: 50px;
  border: 5px solid black;
  height: 200px;
  width: 200px;
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;
  box-sizing: border-box;
}

#third-div {
  min-height: 10px;
}

.image-1-container {
  width: 200px;
  height: 600px;
  background-color: magenta;
}

.image-2-container {
  height: 600px;
  min-width: 200px;
  background-color: magenta;
  display: inline-block;
}

img {
  width: 100%;
}

p {
  background-color: #7fdbff;
}
